<div class="back-drop login"></div>
<div class="back-drop shadow"></div>
<article class="text-center">
    <div class="row">
        <div class="col-md-12">
            <form class="form-login">
                <img class="mb-2" src="app/img/movie-logo.png" alt="MovieChat logo">
                <h1 class="h4 mb-4 font-weight-light pt-4">Sign In</h1>
                <div class="inner-addon left-addon">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <i class="fa fa-user"></i>
                    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="inner-addon left-addon">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="password" type="text" name="grant_type" value="password" hidden required>
                <button class="btn btn-lg btn-primary btn-block text-uppercase mt-5" type="submit">Sign in</button>
                <p class="mt-5 mb-5 text-muted">&copy; 2018</p>
            </form>
        </div>
    </div>
</article>
